@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* THEMES */

.theme-red .text-first {
  color: #dd2f10 !important;
}
.theme-red .bg-main {
  background-color: #e2caca !important;
}

.theme-blue .text-first {
  color: #6b8da9 !important;
}
.theme-blue .bg-main {
  background-color: #d2d7db !important;
}

/*  UTILS */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
}

.nav-link {
  transition: all 0.2s ease;
  &:hover {
    color: #9c9c9b !important;
  }
}

/* CARDS */

.hover-card {
  background: rgba(231, 230, 230, 0.4) !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  transition: transform 0.2s ease, background 0.4s ease;
} 

.hover-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.7) !important;
  border-color: rgba(255, 255, 255, 0.8) !important;
  scale: 1.03;
}

/* VIDEO */

#video-home {
  width: 100%;
  aspect-ratio: 628 / 233;
  min-height: 500px;
  max-height: 1060px;
  object-fit: cover;
  filter: brightness(50%);
  display: block;
}

/* SEARCH INPUT */

 .input-light::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
 }

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* --- THEME BUTTON --- */

.btn-theme-toggle {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 6px 16px;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}
.btn-theme-toggle:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}